# This repo uses uv for dependency management
uv sync --locked

export BASEDIR=$(git rev-parse --show-toplevel)
export PATH="${BASEDIR}/scripts:${PATH}"

ONE_PASSWORD_TOKEN="op://Pulumi/7pgmqbvpk6xaps4exrjgbjyy24/password"

# Suppress bogus warning messages like
# resource plugin pulumi-python is expected to have version >=3.6.0, but has 0.1.0;
# the wrong version may be on your path, or this may be a bug in the plugin
export PULUMI_DEV=1

# Suppress pulumi phone home
# export PULUMI_SKIP_UPDATE_CHECK=true

# Make pyright fast again (skip broken update check with proxy)
export PYRIGHT_PYTHON_IGNORE_WARNINGS=1

# Enable patch force to force pulumi ownership when using server side apply (default in pulumi-kubernetes>=4.0)
# https://www.pulumi.com/registry/packages/kuberneteas/how-to-guides/managing-resources-with-server-side-apply/#handle-field-conflicts-on-existing-resources
# export PULUMI_K8S_ENABLE_PATCH_FORCE=true

# Install pre-commit hook
if [ ! -f ".git/hooks/pre-commit" ]; then
    echo -e "${GREEN}Installing pre-commit hook$NC"
    uv run prek install
fi

# Generate config schema
uv run $BASEDIR/scripts/generate-config-schema.py

# use ESC to configure BWS server and access token instead of storing it locally:
eval $(pulumi esc open moltob/bitwarden/cloud --format shell)

# get remaining secrets from BWS:
eval $(bws secret list -o env | sed 's/^/export /')
