config:
  kubernetes:config:
    proxmox:
      node-name: pve
      api-endpoint: https://pve-01.mpagel.de:8006
      api-token:
        envvar: PROXMOX_API_TOKEN__PVE_01__PULUMI
    microk8s:
      master-nodes:
        - name: k8s-master-0
          vmid: 120
          ipv4-address: 10.0.10.2/24
          cores: 3
          memory_mb_min: 16384
          memory_mb_max: 16384
          root_disk_size_gb: 64
          data_disk_size_gb: 256
      ssh-public-key: ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINkV2VImBNPnGv5kyC9ybGPhMipr0VhFe1n/Ks7Sm8k4 mpagel@k8s-prod
      vlan_id: 10
      sub-domain: app.mpagel.de
    metallb:
      # renovate: datasource=github-releases packageName=metallb/metallb versioning=semver
      version: 0.15.3
      ipv4-start: 10.0.10.10
      ipv4-end: 10.0.10.99
    cert-manager:
      # renovate: datasource=github-releases packageName=cert-manager/cert-manager versioning=semver
      version: v1.19.3
      acme-email: mike@mpagel.de
    traefik:
      # renovate: datasource=github-releases packageName=traefik/traefik-helm-chart versioning=semver
      version:  v39.0.1
    cloudflare:
      api-token:
        envvar: CLOUDFLARE_TOKEN
    csi-driver-smb:
      # renovate: datasource=github-releases packageName=kubernetes-csi/csi-driver-smb versioning=loose
      version: v1.20.0
    kube-state-metrics:
      # renovate: datasource=helm registryUrl=https://prometheus-community.github.io/helm-charts packageName=kube-state-metrics versioning=helm
      version: 7.1.0
