logging {
  level  = "info"
  format = "logfmt"
}

otelcol.receiver.otlp "gateway" {
  grpc {
    endpoint = "0.0.0.0:{{ otlp_grpc_port }}"
  }

  http {
    endpoint = "0.0.0.0:{{ otlp_http_port }}"
  }

  output {
    metrics = [otelcol.exporter.prometheus.mimir.input]
    logs    = [otelcol.exporter.loki.loki.input]
  }
}

otelcol.exporter.prometheus "mimir" {
  forward_to = [prometheus.remote_write.mimir.receiver]
}

prometheus.remote_write "mimir" {
  endpoint {
    url = "{{ mimir_remote_write_url }}"
  }
}

otelcol.exporter.loki "loki" {
  forward_to = [loki.write.loki.receiver]
}

loki.source.kubernetes_events "cluster_events" {
  forward_to = [loki.write.loki.receiver]
  log_format = "logfmt"
}

loki.write "loki" {
  endpoint {
    url = "{{ loki_push_url }}"
  }
}
